__pycache__/
*.ckpt
*.log
code_files/logs/
.env
venv/

code_files/test_results/

code_files/checkpoints/
.lightning_studio/
.idea
.vscode

BubbleSegmentation/Data/
*.pth'

../BubbleSegmentation/code_files/checkpoints/
../BubbleSegmentation/code_files/logs/